<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
	
	<servlet>
	<servlet-name>abc</servlet-name>
	<servlet-class>fileUploadServlet.UploadData</servlet-class>
	</servlet>
	<servlet-mapping>
	<servlet-name>abc</servlet-name>
	<url-pattern>/upload</url-pattern>
	</servlet-mapping>
	
	<servlet>
	<servlet-name>s</servlet-name>
	<servlet-class>fileUploadServlet.Success</servlet-class>
	</servlet>
	<servlet-mapping>
	<servlet-name>s</servlet-name>
	<url-pattern>/success</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>upload.jsp</welcome-file>
	</welcome-file-list>
</web-app>