<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

<bean id="bean1" class="com.cogni.model.Student">
<constructor-arg value="123" />
<constructor-arg  value="Raj" />
<constructor-arg>  
<list>  
<value>111</value>  
<value>222</value>  
<value>333</value>  
</list>  
</constructor-arg>  

<constructor-arg>  
<list>  
<value>aaa</value>  
<value>bbb</value>  
<value>ccc</value>  
</list>
</constructor-arg>

<constructor-arg >
<ref bean="address"/>
</constructor-arg>


</bean>
<bean id="address" class="com.cogni.model.Address">
<constructor-arg  value="Pune" />
<constructor-arg  value="411457" />
</bean>
   
</beans>